.productTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #363636;
}

img{
  width:75%;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logodiv{
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.extras{
  height: 90%;

}
.check{
  background-color: transparent;
  background: transparent;
}
